@import url('style.css');

/* -------------------------------- Main --------------------------------*/
main {
     margin-top: 1rem;
}
.main-container {
     justify-content: space-evenly;
     gap: 5rem;
}

.main-right,
.main-left {
     max-width: 50%;
     width: 100%;
}

.main-right_content {
     flex-direction: column;
     gap: 0.3rem;
}

.main-right_content h1 {
     color: var(--color-light-green);
     font-size: 3rem;
     font-family: tanin;
}

.main-right_content p:first-of-type {
     font-size: 1.5rem;
     font-family: zar;
}

.main-right_content p:last-of-type {
     margin-top: 0.5rem;
}

.main-social_items {
     margin-top: 2rem;
     justify-content: space-evenly;
}

.social_item {
     box-sizing: content-box;
     padding: 0.8rem 2rem;
     border-radius: 0.7rem;
     transition: all ease 0.2s;
}

.social_item:hover {
     background-color: #00cb96;
}

.main-image_box {
     width: 100%;
}

.main-image_box img {
     width: 100%;
}

.main-btn {
     font-size: 1.2rem;
     border-radius: 0.5rem;
     width: 10rem;
     height: 2.5rem;
     margin: 1.7rem auto 0 auto;
     font-family: mitra;
     background-color: var(--color-light-green);
}

@media screen and (max-width: 1025px) {
     .main-container {
          gap: 1rem;
     }
}

@media screen and (max-width: 920px) {
     .main-container {
          flex-wrap: wrap;
     }

     .main-right, .main-left {
          max-width: 100%;
          width: 100%;
     }

     .main-left {
          max-width: 60% !important;
     }

     .main-social_items {
          margin-bottom: 2rem;
     }
}