@import url('short.css');
@import url('header.css');
@import url('footer.css');

@font-face {
     font-family: 'tanin';
     src: url('../fonts/W_tanin.ttf');
}
@font-face {
     font-family: zar;
     src: url('../fonts/W_zar-Bold.ttf');
}
@font-face {
     font-family: mitra;
     src: url('../fonts/SMITRABD.TTF');
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: var(--color-white);
     font-family: 'zar';
}

:root {
     --color-white: #fff;
     --color-gray: #20272f;
     --color--txt-gray: #8b9096;
     --color-dark-gray: #171c22;
     --color-light-green: #00cb96;
}

body {
     background-image: url('../img/back.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
}

ul {
     list-style-type: none;
}

a {
     text-decoration: none;
}

.site-container {
     position: absolute;
     margin: auto;
     border-radius: 1rem;
     width: 90%;
     height: 90%;
     overflow: auto;
     background-color: var(--color-gray);
}

.container {
     max-width: 80%;
     margin: auto;
}
